@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

main{
    @include flex(row, center, center);
    height: 100vh
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(225, 100%, 94%)
}

.mainBox{
    border-radius: 20px;
    height: 646px;
    width: 417px;
    overflow: hidden;
    background-color: #fff;
    
    .heroImage{
        img{
            display: block;
            width: 100%;
        }
    }
    
    .textSection{
        @include flex(column, center, center);
        box-sizing: border-box;
        padding: 40px 40px 20px 40px;
        .title{
            font-size: 19.5pt;
            font-weight: bolder;
            margin-bottom: 17px;
            color: $darkTextColor;
        }
        .description{
            font-size: 15.5px;
            line-height: 1.6;
            text-align: center;
            font-family: 'Red Hat Display', sans-serif;
            color: $lightTextColor;
        }
    }
    
    .summarySection{
        @include flex(row, center, center);
        width: 327px;
        margin: auto;
        background-color: $veryLightBackround;
        height: 88px;
        border-radius: 5px;
        .icon{
            img{
                display: block;
                height: 44px;
            }
        }
        .planSpace{
            margin-left: 17px;
            margin-right: 86px;
            .planTitle{
                font-weight: bold;
                font-size: 15px;
                color: $darkTextColor;
            }
            .planCost{
                line-height: 1.5;
                color: $lightTextColor;
            }
        }
        .changeButton{
            font-size: 13px;
            color: $brightBlue;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
            transition: ease-out 0.5s;

            &:hover{
                color: $lightTextColor;
                text-decoration: none;
            }
        }
    }

    .buttonSection{
        @include flex(column,center,center);
        .proceedButton{
            width: 327px;
            background-color: hsl(245, 75%, 52%);
            color: $veryLightBackround;
            text-align: center;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: bold;
            padding: 14px;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 10px;
            cursor: pointer;
            transition: ease-out 0.5s;

            &:hover{
                background-color: $lightTextColor;
            }
        }
        .cancelButton{
            font-size: 14px;
            font-weight: bold;
            color: $lightTextColor;
            cursor: pointer;
            transition: ease-out 0.5s;

            &:hover{
                color: $darkTextColor;
            }
        }
    }
}
